$main: #4b00ad;
$thumbWidth: 40px;

.joystick {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: white;
	position: relative;
	border: 2px solid $main;
	box-sizing: border-box;
}

.markers {
	.line {
		position: absolute;
		height: 2px;
		width: 20px;
		background-color: #4b00ad;
		transform-origin: 0;

		&:nth-child(1) {
			top: 0;
			left: 50%;
			rotate: 90deg;
			translate: 0 -2px;
		}

		&:nth-child(2) {
			top: 50%;
			left: 0;
			translate: 0 -2px;
		}

		&:nth-child(3) {
			bottom: 0;
			left: 50%;
			translate: 0 -18px;
			rotate: 90deg;
		}

		&:nth-child(4) {
			top: 50%;
			right: 0;
			translate: 0 -2px;
		}
	}

	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: $thumbWidth;
		height: $thumbWidth;
		background-color: #777;
		border-radius: 50%;
	}
}

.thumb-stick {
	width: $thumbWidth;
	height: $thumbWidth;
	border-radius: 50%;
	background-color: $main;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 30px;
	margin-top: 10px;

	button {
		width: 100px;
		height: 30px;
		border: none;
		border-radius: 20px;
		border: 2px solid $main;
	}
}

.joystick-cont {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: calc(100vh - 40px);
	width: 100vw;
}

body {
	margin: 0;
	overflow: none;
}
